<ion-grid class="ion-no-padding ion-no-margin">
  <ion-row style="height: 100vh" class="ion-align-items-center">
    <ion-col size="9" class="left_container"></ion-col>
    <ion-col size="3">
      <ion-row class="ion-justify-content-center">
        <ion-item lines="none">
          <ion-img [src]="logo" class="logo-login"></ion-img>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-row class="ion-justify-content-center" style="height: 27vh">
          <ion-item lines="none">
            <ion-img [src]="logo" class="logo-login"></ion-img>
          </ion-item>
        </ion-row>
        <ion-row class="ion-align-items-start" style="top: 20%; height: 45vh">
          <ion-col size="12">
            <ion-item lines="none">
              <ion-text color="primary">
                <h1 class="bold">Confirmar cambio de contraseña</h1>
              </ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="ion-text-start">
                Introduzca el codigo de verificación que le fue enviado a su correo
              </ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-item lines="inset" class="border-color">
                <ion-input class="otp ion-text-center" #otp1Desktop required="true" maxLength="1"
                  (paste)="onPaste($event)" [(ngModel)]="verify.first" (keyup)="mfaController($event,otp2Desktop,'')"
                  onkeypress="return event.charCode>=48 && event.charCode<=57">
                </ion-input>
              </ion-item>
              <ion-item lines="inset" class="border-color">
                <ion-input class="otp ion-text-center" #otp2Desktop required="true" maxLength="1"
                  (paste)="onPaste($event)" [(ngModel)]="verify.second"
                  (keyup)="mfaController($event,otp3Desktop,otp1Desktop)"
                  onkeypress="return event.charCode>=48 && event.charCode<=57">
                </ion-input>
              </ion-item>
              <ion-item lines="inset" class="border-color">
                <ion-input class="otp ion-text-center" #otp3Desktop required="true" maxLength="1"
                  (paste)="onPaste($event)" [(ngModel)]="verify.third"
                  (keyup)="mfaController($event,otp4Desktop,otp2Desktop)"
                  onkeypress="return event.charCode>=48 && event.charCode<=57">
                </ion-input>
              </ion-item>
              <ion-item lines="inset" class="border-color">
                <ion-input class="otp ion-text-center" #otp4Desktop required="true" maxLength="1"
                  (paste)="onPaste($event)" [(ngModel)]="verify.forth"
                  (keyup)="mfaController($event,otp5Desktop,otp3Desktop)"
                  onkeypress="return event.charCode>=48 && event.charCode<=57">
                </ion-input>
              </ion-item>
              <ion-item lines="inset" class="otp" class="border-color">
                <ion-input class=" ion-text-center" #otp5Desktop required="true" maxLength="1" (paste)="onPaste($event)"
                  [(ngModel)]="verify.fifth" (keyup)="mfaController($event,otp6Desktop,otp4Desktop)"
                  onkeypress="return event.charCode>=48 && event.charCode<=57">
                </ion-input>
              </ion-item>
              <ion-item lines="inset" class="border-color">
                <ion-input class="otp ion-text-center" #otp6Desktop required="true" maxLength="1"
                  (ionChange)="validateExistCode($event)" (paste)="onPaste($event)" [(ngModel)]="verify.sixth"
                  (keyup)="mfaController($event,'',otp5Desktop)"
                  onkeypress="return event.charCode>=48 && event.charCode<=57">
                </ion-input>
              </ion-item>
            </ion-item>
            <form [formGroup]="confirmForm">
              <div class="inputs-container password-input">
                <ion-input
                  class="form-input"
                  [type]="passwordType"
                  formControlName="newPassword"
                  [maxlength]="25"
                  label="Nueva contraseña"
                  labelPlacement="stacked"
                  fill="outline"
                  errorText="La contraseña necesita al menos una mayúscula, un número, un carácter especial y al menos 8 caracteres de largo"
                ></ion-input>
                <ion-icon
                  size="large"
                  [name]="passwordShown? 'eye' :'eye-off-outline'"
                  (click)="togglePassword()"
                ></ion-icon>
              </div>
            </form>
          </ion-col>
          <ion-col size="12" style="margin-top: 20px">
            <ion-button strong="true" (click)="onSubmit()" expand="block" size="default"
              class="ion-magin-top ion-magin-bottom" style="margin-left: 15px;margin-right: 15px"
              [disabled]="!isButtonEnabled || confirmForm.controls['newPassword'].invalid">
              Confirmar
            </ion-button>
            <ion-item lines="none" button style="text-align: center">
              <ion-label color="primary" [routerLink]="['/sign-in']">¿Volver a iniciar sesión?</ion-label>
            </ion-item>
            <ion-item lines="none" button style="text-align: center">
              <ion-label color="primary" (click)="resendCode()">¿No ha recibido el código? Reenviar código</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
