<ion-grid class="ion-no-padding ion-no-margin">
  <ion-row style="height: 100vh" class="ion-align-items-center">
    <ion-col size="9" class="left_container"></ion-col>
    <ion-col size="3">
      <ion-row class="ion-justify-content-center">
        <ion-item lines="none">
          <ion-img [src]="logo" class="logo-login"></ion-img>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <form [formGroup]="recoveryForm" (submit)="onSubmit()" (keyup.enter)="onSubmit()">
            <ion-item lines="none">
              <ion-text color="primary" style="text-align: center; width: 100%;">
                <h1 class="bold">Recuperar contraseña</h1>
              </ion-text>
            </ion-item>
            <div class="inputs-container">
              <ion-input class="form-input" type="email" formControlName="recoveryEmail" [maxlength]="70" label="Ingrese su correo, le enviaremos un mensaje con el código de
                recuperación" placeholder="Ingrese su email" labelPlacement="floating" fill="outline"
                [errorText]="showErrors('recoveryEmail')"></ion-input>
            </div>
          </form>
        </ion-col>
        <ion-col size="12" style="margin-top: 20px">
          <ion-button strong="true" [disabled]="recoveryForm.invalid" (click)="onSubmit()" expand="block"
            class="ion-magin-top ion-magin-bottom">
            Enviar
          </ion-button>
          <ion-item lines="none" button style="text-align: center">
            <ion-label color="primary" [routerLink]="['/authentication/sign-in']">¿Volver a iniciar sesión?</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
