.left_container{
  height: 100%;
  width: 100%;
  background-image: url('../../../../assets/login_img_test.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inputs-container{
  padding: 15px;
}

.password-input{
  display: flex;
  align-items:center;
  // justify-content: space-between;
}
