<ion-content [fullscreen] color="light">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-row class="ion-justify-content-start">
          <ion-col size="3" sizeXl="1">
            <ion-button class="bg-back-button" (click)="back()" expand="block" fill="solid">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
              Volver
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-row class="ion-justify-content-between ion-align-items-center" style=" margin-bottom: 20px;">
                  <ion-col size="12" sizeLg="6" sizeXl="4">
                    <ion-label color="dark" class="title" style="padding-left: 30px;">
                      Ficha curricular
                    </ion-label>
                  </ion-col>
                  <ion-col size="12" sizeLg="6" sizeXl="4">
                    <ion-button size="default" type="submit" color="primary" expand="block" fill="solid"
                      [disabled]="true">
                      <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
                      Descargar Ficha
                    </ion-button>
                    <ion-row class="ion-justify-content-center ion-align-items-center">
                      <ion-col size="12" sizeLg="3">
                        <ion-button color="danger" expand="block" fill="solid" shape="default">
                          <ion-icon slot="start" name="close-outline"></ion-icon>
                          Rechazar
                        </ion-button>
                      </ion-col>
                      <ion-col size="12" sizeLg="3">
                        <ion-button color="success" expand="block" fill="solid" shape="default">
                          <ion-icon slot="start" name="checkmark-outline"></ion-icon>
                          Aceptar
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center ion-align-items-center">
                  <ion-col size="12">
                    <ion-segment (ionChange)="segmentButton($event)" value="Ficha resumen de la unidad curricular"
                      scrollable="true">
                      <ion-item lines="none">
                        <ion-segment-button value="Ficha resumen de la unidad curricular">
                          <ion-label class="bold">Ficha resumen de la unidad curricular</ion-label>
                        </ion-segment-button>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-segment-button value="Mapa de aprendizaje">
                          <ion-label class="bold">Mapa de aprendizaje</ion-label>
                        </ion-segment-button>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-segment-button value="Recursos y espacios de formación y autoformación productiva">
                          <ion-label class="bold">Recursos y espacios de formación y autoformación
                            productiva</ion-label>
                        </ion-segment-button>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-segment-button
                          value="Colectivo de la mesa de evaluación, construcción y desarrollo curricular permanente">
                          <ion-label class="bold">Colectivo de la mesa de evaluación, construcción y desarrollo
                            curricular permanente</ion-label>
                        </ion-segment-button>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-segment-button value="Recursos educativos digitales">
                          <ion-label class="bold">Recursos educativos digitales</ion-label>
                        </ion-segment-button>
                      </ion-item>
                    </ion-segment>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content>
                <form [formGroup]="fichaDetailForm" *ngIf="actualSegment === 'Ficha resumen de la unidad curricular'">
                  <ion-row>
                    <ion-col size="12">
                      <ion-row>
                        <ion-col size="12">
                          <ion-item>
                            <ion-label>
                              <h2>Ficha resumen de la unidad curricular</h2>
                            </ion-label>
                          </ion-item>
                        </ion-col>
                        <ion-col size="12" sizeLg="4">
                          <div class="input-icon-container">
                            <ion-input class="form-input" type="text" formControlName="areaConocimiento"
                              label="Área de Conocimiento" labelPlacement="floating" fill="outline"></ion-input>
                            <ion-icon name="information-circle-outline" size="large" color="primary"
                              tooltip="Un campo o área es la esfera amplia, la rama o el área de conocimiento que agrupa un conjunto de profesiones y ocupaciones"
                              placement="right" [hideDelay]="0"></ion-icon>
                          </div>
                        </ion-col>
                        <ion-col size="12" sizeLg="4">
                          <div class="input-icon-container">
                            <ion-input class="form-input" type="text" formControlName="areaOcupacional"
                              label="Área ocupacional" labelPlacement="floating" fill="outline"></ion-input>
                            <ion-icon name="information-circle-outline" size="large" color="primary"
                              tooltip="Está conformada por un conjunto de ocupaciones que movilizan capacidades similares o transferibles"
                              placement="right" [hideDelay]="0"></ion-icon>
                          </div>
                        </ion-col>
                        <ion-col size="12" sizeLg="4">
                          <div class="input-icon-container">
                            <ion-input class="form-input" type="text" formControlName="subAreaOcupacional"
                              label="Sub Área Ocupacional" labelPlacement="floating" fill="outline"></ion-input>
                            <ion-icon name="information-circle-outline" size="large" color="primary"
                              tooltip="Subgrupo o subconjunto de ocupaciones con capacidades similares o transferibles"
                              placement="right" [hideDelay]="0"></ion-icon>
                          </div>
                        </ion-col>
                        <ion-col size="12" sizeLg="4">
                          <ion-input class="form-input" type="text" formControlName="codigoUc"
                            label="Código de la Unidad Curricular" labelPlacement="floating" fill="outline"></ion-input>
                        </ion-col>
                        <ion-col size="12" sizeLg="4">
                          <div class="input-icon-container">
                            <ion-input class="form-input" type="text" formControlName="uc" label="Unidad Curricular"
                              labelPlacement="floating" fill="outline"></ion-input>
                            <ion-icon name="information-circle-outline" size="large" color="primary"
                              tooltip="Constituyen un conjunto de contenidos integrados que se enfocan en desarrollar habilidades y conocimientos específicos en un área de conocimiento u ocupación"
                              placement="right" [hideDelay]="0"></ion-icon>
                          </div>
                        </ion-col>
                        <ion-col size="12" sizeLg="4">
                          <!-- style="padding-left: 12px; padding-right: 10px;" -->
                          <ion-select class="form-input" label="Tipo de Unidad Curricular " formControlName="tipoUc"
                            interface="popover" fill="outline" placeholder="Seleccione una opcion">
                            <ion-select-option *ngFor="let tipoUc of tiposUc"
                              [value]="tipoUc">{{tipoUc}}</ion-select-option>
                          </ion-select>
                        </ion-col>
                        <ion-col size="12" sizeLg="6">
                          <ion-input class="form-input" type="text" formControlName="totalHorasFormacion"
                            [errorText]="showErrors('totalHorasFormacion')" label="Total horas de formación"
                            labelPlacement="floating" fill="outline"></ion-input>
                        </ion-col>
                        <ion-col size="12" sizeLg="6">
                          <ion-input class="form-input" type="text" formControlName="modalidadFormacion"
                            [errorText]="showErrors('modalidadFormacion')"
                            label="Modalidad de Formación y Autoformación Productiva" labelPlacement="floating"
                            fill="outline"></ion-input>
                        </ion-col>
                        <ion-col size="12" style="margin-top: 10px; padding-left: 10px;">
                          <ion-textarea [autoGrow]="true" formControlName="proposito"
                            label="Propósito clave de la Unidad Curricular" labelPlacement="floating"
                            fill="outline"></ion-textarea>
                        </ion-col>
                        <ion-col size="12" sizeLg="8">
                          <ion-input class="form-input" type="text" formControlName="dirigidoA" label="Dirigido a"
                            placeholder="Añadir perfil al cual esta dirigido" labelPlacement="floating" fill="outline"
                            (keyup.enter)="pushList('fichaDetailForm',$event,'dirigidoA')"></ion-input>
                          <p style="padding-left: 20px;" *ngFor="let proposito of mixedList['dirigidoA']">
                            *{{proposito}}</p>
                        </ion-col>
                        <ion-col size="12" sizeLg="4">
                          <ion-input class="form-input" type="text" formControlName="nivelDominioEsperado"
                            label="Nivel de dominio esperado" labelPlacement="floating" fill="outline"></ion-input>
                        </ion-col>
                        <ion-col size="12" style="margin-top: 10px; padding-left: 10px;">
                          <ion-textarea [autoGrow]="true" formControlName="sinopsis" label="Sinopsis (pertinencia)"
                            labelPlacement="floating" fill="outline"></ion-textarea>
                        </ion-col>
                        <ion-col size="12" sizeLg="6">
                          <ion-input class="form-input" type="text" formControlName="ejesTransversales"
                            (keyup.enter)="pushList('fichaDetailForm',$event,'ejesTransversales')"
                            label="Ejes transversales de la formación y autoformación, colectiva, integral y permanente "
                            labelPlacement="floating" fill="outline"></ion-input>
                          <p style="padding-left: 20px;" *ngFor="let ejeTransversal of mixedList['ejesTransversales']">
                            *{{ejeTransversal}}
                          </p>
                        </ion-col>
                        <ion-col size="12" sizeLg="6">
                          <ion-input class="form-input" type="text" formControlName="perfilFacilitador"
                            (keyup.enter)="pushList('fichaDetailForm',$event,'perfilFacilitador')"
                            label="Perfil del facilitadora (o)" labelPlacement="floating" fill="outline"></ion-input>
                          <p style="padding-left: 20px;" *ngFor="let perfilFaci of mixedList['perfilFacilitador']">
                            *{{perfilFaci}}</p>
                        </ion-col>
                        <ion-col size="12" sizeLg="6">
                          <ion-input class="form-input" type="text" formControlName="perfilGenericoIngreso"
                            (keyup.enter)="pushList('fichaDetailForm',$event,'perfilGenericoIngreso')"
                            label="Perfil genérico de ingreso del participante" labelPlacement="floating"
                            fill="outline"></ion-input>
                          <p style="padding-left: 20px;" *ngFor="let perfilGene of mixedList['perfilGenericoIngreso']">
                            *{{perfilGene}}</p>
                        </ion-col>
                        <ion-col size="12" sizeLg="6">
                          <ion-input class="form-input" type="text" formControlName="consideracionesPerfilGenerico"
                            label="Consideraciones del perfil genérico de ingreso del participante (si la hubiere)"
                            labelPlacement="floating" fill="outline"></ion-input>
                        </ion-col>
                        <ion-col size="12">
                          <ion-input class="form-input" type="text" formControlName="perfilEgreso"
                            (keyup.enter)="pushList('fichaDetailForm',$event,'perfilEgreso')"
                            label="Perfil de egreso de la Unidad Curricular (Competencia General)"
                            labelPlacement="floating" fill="outline"></ion-input>
                          <p style="padding-left: 20px;margin-bottom: 10px;"
                            *ngFor="let perfilEgre of mixedList['perfilEgreso'];let i = index">{{i+1}}.-{{
                            perfilEgre}}</p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </form>
                <ion-row *ngIf="actualSegment === 'Mapa de aprendizaje'">
                  <ion-col size="12">
                    <form [formGroup]="fichaDetailForm">
                      <ion-row>
                        <ion-col size="6">
                          <ion-input class="form-input" type="text" formControlName="uc" label="Unidad Curricular"
                            readonly="true" labelPlacement="stacked" fill="outline"></ion-input>
                        </ion-col>
                        <ion-col size="3">
                          <ion-select class="form-input" label="Tipo de Unidad Curricular " formControlName="tipoUc"
                            interface="popover" fill="outline" placeholder="Seleccione una opcion">
                            <ion-select-option *ngFor="let tipoUc of tiposUc"
                              [value]="tipoUc">{{tipoUc}}</ion-select-option>
                          </ion-select>
                        </ion-col>
                        <ion-col size="3">
                          <ion-input class="form-input" type="text" formControlName="codigoUc" readonly="true"
                            label="Código de la Unidad Curricular" labelPlacement="stacked" fill="outline"></ion-input>
                        </ion-col>
                      </ion-row>
                    </form>
                    <ion-button size="default" type="submit" color="primary" expand="block" fill="solid"
                      (click)="newMapaAdrendizaje(null)">
                      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                      Nuevo Mapa de Aprendizaje
                    </ion-button>
                    <ion-row *ngFor="let mapa of mapasAprendizaje;let i = index">
                      <ion-col size="12">
                        <ion-card>
                          <ion-card-header>
                            <ion-row>
                              <ion-col size="10">
                                <ion-card-title>Mapa de Aprendizaje (Programa de Estudios)</ion-card-title>
                              </ion-col>
                              <ion-col size="2">
                                <ion-button fill="outline" tooltip="Editar Mapa de Aprendizaje" placement="left"
                                  size="default" expand="block" [hideDelay]="0" (click)="newMapaAdrendizaje(mapa,i+1)"
                                  color="primary">
                                  <ion-icon name="pencil-outline"></ion-icon>
                                </ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-card-header>
                          <ion-card-content>
                            <ion-row>
                              <ion-col size="12">
                                <ion-card>
                                  <ion-card-content>
                                    <ion-row>
                                      <ion-col size="9">
                                        <ion-input class="form-input" type="text" [value]="mapa.logroParticipante"
                                          readonly="true" [label]="(i+1) + '. Realización o logro del participante'"
                                          labelPlacement="floating" fill="outline"></ion-input>
                                      </ion-col>
                                      <ion-col size="3">
                                        <ion-input class="form-input" type="text"
                                          [value]="mapa.horasTeoricas + '/' + mapa.horasPracticas" readonly="true"
                                          label="Horas Teórico/Práctico" labelPlacement="floating"
                                          fill="outline"></ion-input>
                                      </ion-col>
                                    </ion-row>
                                  </ion-card-content>
                                </ion-card>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="12">
                                <ion-card>
                                  <ion-card-content>
                                    <ion-row>
                                      <ion-col size="12" sizeLg="3">
                                        <ion-card>
                                          <ion-card-content>
                                            <ion-text color="primary">
                                              <h3>Ejes Temáticos (Unidades de aprendizaje)</h3>
                                            </ion-text>
                                            <p style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                                              {{i+1}}. {{mapa.ejeTematico}}</p>
                                            <div *ngFor="let eje of objKeys(mapa.detallesEjeTematico);let j = index"
                                              class="border-details">
                                              <p style="padding-left: 20px;">{{i+1}}.{{j+1}}. {{replaced(eje)}}</p>
                                              <p style="padding-left: 10px;"
                                                *ngFor="let dotType of mapa.detallesEjeTematico[eje]"><span>*</span>
                                                {{dotType}}</p>
                                            </div>
                                          </ion-card-content>
                                        </ion-card>
                                      </ion-col>
                                      <ion-col size="12" sizeLg="5">
                                        <ion-card>
                                          <ion-card-content>
                                            <ion-text color="primary">
                                              <h3>Evidencias de Desempeño</h3>
                                            </ion-text>
                                            <ion-row>
                                              <ion-col size="4" class="border-details">
                                                <ion-text color="primary">
                                                  <h3>Observación Directa</h3>
                                                </ion-text>
                                                <p *ngFor="let obs of mapa.evidenciasDesempeno.observacionDirecta">
                                                  {{obs}}</p>
                                              </ion-col>
                                              <ion-col size="3" class="border-details">
                                                <ion-text color="primary">
                                                  <h3>Producto</h3>
                                                </ion-text>
                                                <p *ngFor="let product of mapa.evidenciasDesempeno.producto">{{product}}
                                                </p>
                                              </ion-col>
                                              <ion-col size="5" class="border-details">
                                                <ion-text color="primary">
                                                  <h3>Conocimiento y Comprensión</h3>
                                                </ion-text>
                                                <p *ngFor="let con of mapa.evidenciasDesempeno.conocimiento">{{con}}</p>
                                              </ion-col>
                                            </ion-row>
                                          </ion-card-content>
                                        </ion-card>
                                      </ion-col>
                                      <ion-col size="12" sizeLg="4">
                                        <ion-card>
                                          <ion-card-content>
                                            <ion-row>
                                              <ion-col size="12" sizeLg="7">
                                                <ion-text color="primary" style="text-align: center;">
                                                  <h3>Criterios de Desempeño</h3>
                                                </ion-text>
                                              </ion-col>
                                              <ion-col size="12" sizeLg="5">
                                                <ion-text color="primary" style="text-align: center;">
                                                  <h3>Lapso de ejecución</h3>
                                                </ion-text>
                                              </ion-col>
                                              <ion-col size="12">
                                                <div *ngFor="let criterio of mapa.criteriosDesempeno;let k = index"
                                                  style="width: 100%;">
                                                  <ion-row>
                                                    <ion-col size="6">
                                                      <p style="padding-left: 20px;">{{criterio}}</p>
                                                    </ion-col>
                                                    <ion-col size="6" style="text-align: center;">
                                                      <p style="padding-left: 20px;">{{mapa.lapsoEjecucion[k]}}</p>
                                                    </ion-col>
                                                  </ion-row>
                                                </div>
                                              </ion-col>
                                            </ion-row>
                                          </ion-card-content>
                                        </ion-card>
                                      </ion-col>
                                    </ion-row>
                                  </ion-card-content>
                                </ion-card>
                              </ion-col>
                            </ion-row>
                          </ion-card-content>
                        </ion-card>
                        <ion-card *ngIf="estrategiasMetodologicas[i]">
                          <ion-card-header>
                            <ion-row>
                              <ion-col size="10">
                                <ion-card-title>Estrategias Metodológicas, Didácticas y Pedagógicas</ion-card-title>
                              </ion-col>
                              <ion-col size="2">
                                <ion-button fill="outline" tooltip="Editar Estrategia metodologica" placement="left"
                                  size="default" expand="block" [hideDelay]="0"
                                  (click)="newEstrategiaMetodologica(estrategiasMetodologicas[i])" color="primary">
                                  <ion-icon name="pencil-outline"></ion-icon>
                                </ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-card-header>
                          <ion-card-content>
                            <ion-row>
                              <ion-col size="4" class="border-details">
                                <ion-card>
                                  <ion-card-header>
                                    <ion-card-title>
                                      <ion-text color="primary">
                                        <h3>Estrategias de Enseñanza</h3>
                                      </ion-text>
                                    </ion-card-title>
                                  </ion-card-header>
                                  <ion-card-content>
                                    <ion-input class="form-input" type="text" label="Estrategias de Enseñanza"
                                      placeholder="" readonly="true" labelPlacement="floating"
                                      fill="outline"></ion-input>
                                    <p style="padding-left: 20px;"
                                      *ngFor="let obs of estrategiasMetodologicas[i].estrategiasdeEnsenanza">* {{obs}}
                                    </p>
                                  </ion-card-content>
                                </ion-card>
                              </ion-col>
                              <ion-col size="4" class="border-details">
                                <ion-card>
                                  <ion-card-header>
                                    <ion-card-title>
                                      <ion-text color="primary">
                                        <h3>Medios Instruccionales</h3>
                                      </ion-text>
                                    </ion-card-title>
                                  </ion-card-header>
                                  <ion-card-content>
                                    <ion-input class="form-input" type="text" label="Medios Instruccionales"
                                      placeholder="" readonly="true" labelPlacement="floating"
                                      fill="outline"></ion-input>
                                    <p style="padding-left: 20px;"
                                      *ngFor="let product of estrategiasMetodologicas[i].mediosInstruccionales">*
                                      {{product}}</p>
                                  </ion-card-content>
                                </ion-card>
                              </ion-col>
                              <ion-col size="4" class="border-details">
                                <ion-card>
                                  <ion-card-header>
                                    <ion-card-title>
                                      <ion-text color="primary">
                                        <h3>Técnicas Instruccionales</h3>
                                      </ion-text>
                                    </ion-card-title>
                                  </ion-card-header>
                                  <ion-card-content>
                                    <ion-input class="form-input" type="text" label="Técnicas Instruccionales"
                                      placeholder="" readonly="true" labelPlacement="floating"
                                      fill="outline"></ion-input>
                                    <p style="padding-left: 20px;"
                                      *ngFor="let con of estrategiasMetodologicas[i].tecnicasInstruccionales">* {{con}}
                                    </p>
                                  </ion-card-content>
                                </ion-card>
                              </ion-col>
                            </ion-row>
                          </ion-card-content>
                        </ion-card>
                        <ion-row *ngIf="estrategiasMetodologicas[i]">
                          <ion-col size="12">
                            <ion-card>
                              <ion-card-header>
                                <ion-card-title>
                                  <ion-text color="primary">
                                    <h3>Estrategias de aprendizaje</h3>
                                  </ion-text>
                                </ion-card-title>
                              </ion-card-header>
                              <ion-card-content>
                                <ion-row>
                                  <ion-col size="12">
                                    <ion-card>
                                      <ion-card-content>
                                        <ion-row class="ion-align-items-center">
                                          <ion-col size="3">
                                            <p>1{{')'}} Cognitivas.</p>
                                          </ion-col>
                                          <ion-col size="9">
                                            <ion-textarea [autoGrow]="true" readonly="true"
                                              [value]="estrategiasMetodologicas[i].cognitivas" label="Cognitivas"
                                              labelPlacement="floating" fill="outline"></ion-textarea>
                                          </ion-col>
                                        </ion-row>
                                      </ion-card-content>
                                    </ion-card>
                                  </ion-col>
                                  <ion-col size="12">
                                    <ion-card>
                                      <ion-card-content>
                                        <ion-row class="ion-align-items-center">
                                          <ion-col size="3">
                                            <p>2{{')'}} Metacognitivas.</p>
                                          </ion-col>
                                          <ion-col size="9">
                                            <ion-textarea [autoGrow]="true" readonly="true"
                                              [value]="estrategiasMetodologicas[i].metaCognitivas"
                                              label="Metacognitivas" labelPlacement="floating"
                                              fill="outline"></ion-textarea>
                                          </ion-col>
                                        </ion-row>
                                      </ion-card-content>
                                    </ion-card>
                                  </ion-col>
                                  <ion-col size="12">
                                    <ion-card>
                                      <ion-card-content>
                                        <ion-row class="ion-align-items-center">
                                          <ion-col size="3">
                                            <p>3{{')'}} Estrategia de regulación de recursos:</p>
                                          </ion-col>
                                          <ion-col size="9">
                                            <ion-textarea [autoGrow]="true" readonly="true"
                                              [value]="estrategiasMetodologicas[i].estrategiasRegulacionRecursos"
                                              label="Estrategia de regulación de recursos" labelPlacement="floating"
                                              fill="outline"></ion-textarea>
                                          </ion-col>
                                        </ion-row>
                                      </ion-card-content>
                                    </ion-card>
                                  </ion-col>
                                  <ion-col size="12">
                                    <ion-card>
                                      <ion-card-content>
                                        <ion-row class="ion-align-items-center">
                                          <ion-col size="3">
                                            <p>4{{')'}} Motivacionales.</p>
                                          </ion-col>
                                          <ion-col size="9">
                                            <ion-textarea [autoGrow]="true" readonly="true"
                                              [value]="estrategiasMetodologicas[i].motivacionales"
                                              label="Motivacionales" labelPlacement="floating"
                                              fill="outline"></ion-textarea>
                                          </ion-col>
                                        </ion-row>
                                      </ion-card-content>
                                    </ion-card>
                                  </ion-col>
                                </ion-row>
                              </ion-card-content>
                            </ion-card>
                          </ion-col>
                        </ion-row>
                        <ion-button size="default" type="submit" color="primary" expand="block" fill="solid"
                          (click)="newEstrategiaMetodologica(null)">
                          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                          Nueva Estrategia Metodologica
                        </ion-button>
                        <ion-button size="default" type="submit" color="primary" expand="block" fill="solid"
                          style="margin-top: 15px;" (click)="newGuiaDeEvaluacion(i,null)">
                          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                          Nueva guía de evaluación
                        </ion-button>
                        <ion-card *ngIf="guiasEvaluacion[i]">
                          <ion-card-header>
                            <ion-row>
                              <ion-col size="10">
                                <ion-card-title>
                                  Guía de Evaluación
                                </ion-card-title>
                              </ion-col>
                              <ion-col size="2">
                                <ion-button
                                fill="outline"
                                tooltip="Editar guia de evaluacion"
                                placement="left"
                                size="default"
                                expand="block"
                                [hideDelay]="0"
                                (click)="newGuiaDeEvaluacion(i,guiasEvaluacion[i])"
                                color="primary"
                              >
                                <ion-icon name="pencil-outline"></ion-icon>
                              </ion-button>
                              </ion-col>
                            </ion-row>
                            <ion-row class="ion-align-items-center ion-justify-content-center">
                              <ion-col sizeLg="2" size="12" style="text-align: center;">
                                <ion-text color="primary">
                                  <h3>Evaluación según su propósito</h3>
                                </ion-text>
                              </ion-col>
                              <ion-col sizeLg="4" size="12" style="text-align: center;">
                                <ion-text color="primary">
                                  <h3>Técnicas e instrumento</h3>
                                </ion-text>
                              </ion-col>
                              <ion-col sizeLg="4" size="12" style="text-align: center;">
                                <ion-text color="primary">
                                  <h3>Formas de participación</h3>
                                </ion-text>
                              </ion-col>
                              <ion-col sizeLg="2" size="12" style="text-align: center;">
                                <ion-text color="primary">
                                  <h3>Ubicación temporal de la evaluación</h3>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </ion-card-header>
                          <ion-card-content>
                            <ion-item>
                              <ion-label>Tema {{i+1}}</ion-label>
                            </ion-item>
                            <ion-card>
                              <ion-card-content>
                                <ion-row>
                                  <ion-col sizeLg="2" size="12">
                                    <ion-item class="border-details" lines="none">
                                      <ion-label>Diagnóstica</ion-label>
                                    </ion-item>
                                  </ion-col>
                                  <ion-col sizeLg="4" size="12">
                                    <div class="border-details">
                                      <ion-textarea [autoGrow]="true"
                                        [value]="guiasEvaluacion[i].procedimientoDiagnostico" label="Procedimiento"
                                        readonly="true" labelPlacement="floating" fill="outline"></ion-textarea>
                                      <ion-textarea [autoGrow]="true" [value]="guiasEvaluacion[i].tecnicaDiagnostico"
                                        label="Técnica" readonly="true" labelPlacement="floating"
                                        fill="outline"></ion-textarea>
                                      <ion-textarea [autoGrow]="true"
                                        [value]="guiasEvaluacion[i].instrumentoDiagnostico" label="Instrumento"
                                        readonly="true" labelPlacement="floating" fill="outline"></ion-textarea>
                                    </div>
                                  </ion-col>
                                  <ion-col sizeLg="4" size="12">
                                    <ion-item class="border-details" lines="none">
                                      <p style="padding-left: 20px;"
                                        *ngFor="let con of guiasEvaluacion[i].formaParticipacionDiagnostica">* {{con}}
                                      </p>
                                    </ion-item>
                                  </ion-col>
                                  <ion-col sizeLg="2" size="12">
                                    <ion-item class="border-details" lines="none">
                                      <ion-label><span>Momento:</span> Inicio</ion-label>
                                    </ion-item>
                                  </ion-col>
                                </ion-row>
                              </ion-card-content>
                            </ion-card>
                            <ion-card>
                              <ion-card-content>
                                <ion-row>
                                  <ion-col sizeLg="2" size="12">
                                    <ion-item class="border-details" lines="none">
                                      <ion-label>Formativa</ion-label>
                                    </ion-item>
                                  </ion-col>
                                  <ion-col sizeLg="4" size="12">
                                    <div class="border-details">
                                      <ion-textarea [autoGrow]="true"
                                        [value]="guiasEvaluacion[i].procedimientoFormativa" label="Procedimiento"
                                        readonly="true" labelPlacement="floating" fill="outline"></ion-textarea>
                                      <ion-textarea [autoGrow]="true" [value]="guiasEvaluacion[i].tecnicaFormativa"
                                        label="Técnica" readonly="true" labelPlacement="floating"
                                        fill="outline"></ion-textarea>
                                      <ion-textarea [autoGrow]="true" [value]="guiasEvaluacion[i].instrumentoFormativa"
                                        label="Instrumento" readonly="true" labelPlacement="floating"
                                        fill="outline"></ion-textarea>
                                    </div>
                                  </ion-col>
                                  <ion-col sizeLg="4" size="12">
                                    <ion-item class="border-details" lines="none">
                                      <p style="padding-left: 20px;"
                                        *ngFor="let con of guiasEvaluacion[i].formaParticipacionFormativa">* {{con}}
                                      </p>
                                    </ion-item>
                                  </ion-col>
                                  <ion-col sizeLg="2" size="12">
                                    <ion-item class="border-details" lines="none">
                                      <ion-label><span>Momento:</span> Desarrollo</ion-label>
                                    </ion-item>
                                  </ion-col>
                                </ion-row>
                              </ion-card-content>
                            </ion-card>
                            <ion-card>
                              <ion-card-content>
                                <ion-row>
                                  <ion-col sizeLg="2" size="12">
                                    <ion-item class="border-details" lines="none">
                                      <ion-label>Sumativa</ion-label>
                                    </ion-item>
                                  </ion-col>
                                  <ion-col sizeLg="4" size="12">
                                    <div class="border-details">
                                      <ion-textarea [autoGrow]="true" [value]="guiasEvaluacion[i].procedimientoSumativa"
                                        label="Procedimiento" readonly="true" labelPlacement="floating"
                                        fill="outline"></ion-textarea>
                                      <ion-textarea [autoGrow]="true" [value]="guiasEvaluacion[i].tecnicaSumativa"
                                        label="Técnica" readonly="true" labelPlacement="floating"
                                        fill="outline"></ion-textarea>
                                      <ion-textarea [autoGrow]="true" [value]="guiasEvaluacion[i].instrumentoSumativa"
                                        label="Instrumento" readonly="true" labelPlacement="floating"
                                        fill="outline"></ion-textarea>
                                    </div>
                                  </ion-col>
                                  <ion-col sizeLg="4" size="12">
                                    <ion-item class="border-details" lines="none">
                                      <p style="padding-left: 20px;"
                                        *ngFor="let con of guiasEvaluacion[i].formaParticipacionSumativa">* {{con}}
                                      </p>
                                    </ion-item>
                                  </ion-col>
                                  <ion-col sizeLg="2" size="12">
                                    <ion-item class="border-details" lines="none">
                                      <ion-label><span>Momento:</span> Cierre</ion-label>
                                    </ion-item>
                                  </ion-col>
                                </ion-row>
                              </ion-card-content>
                            </ion-card>

                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="actualSegment === 'Recursos y espacios de formación y autoformación productiva'">
                  <ion-col size="12">
                    <h3>si funca we 2</h3>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="actualSegment === 'Colectivo de la mesa de evaluación, construcción y desarrollo curricular permanente'">
                  <ion-col size="12">
                    <h3>si funca we 3</h3>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="actualSegment === 'Recursos educativos digitales'">
                  <ion-col size="12">
                    <h3>si funca we 4</h3>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
