<ion-row>
  <ion-col size="12">
    <ion-row class="ion-align-items-center ion-justify-content-around">
      <ion-col size="10">
        <h2 style="font-weight: bold; padding-left: 30px;">
          Guía de Evaluación
        </h2>
      </ion-col>
      <ion-col size="1">
        <ion-button size="default" type="submit" (click)="submit()" color="primary" expand="block" fill="solid">
          <ion-icon slot="end" name="close-outline"></ion-icon>
          {{ this.guiaEvaluacion !== null ? 'Actualizar' : 'Guardar'}}
        </ion-button>
      </ion-col>
      <ion-col size="1">
        <ion-button size="default" color="dark" (click)="cancel()" expand="block" fill="clear">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
<section class="inner-content container">
  <form [formGroup]="guiasEvaluacionForm">
    <ion-card>
      <ion-card-header>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col sizeLg="2" size="12" style="text-align: center;">
            <ion-text color="primary">
              <h3>Evaluación según su propósito</h3>
            </ion-text>
          </ion-col>
          <ion-col sizeLg="4" size="12" style="text-align: center;">
            <ion-text color="primary">
              <h3>Técnicas e instrumento</h3>
            </ion-text>
          </ion-col>
          <ion-col sizeLg="4" size="12" style="text-align: center;">
            <ion-text color="primary">
              <h3>Formas de participación</h3>
            </ion-text>
          </ion-col>
          <ion-col sizeLg="2" size="12" style="text-align: center;">
            <ion-text color="primary">
              <h3>Ubicación temporal de la evaluación</h3>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Tema {{numeration}}</ion-label>
        </ion-item>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col sizeLg="2" size="12">
                <ion-item class="border-details" lines="none">
                  <ion-label>Diagnóstica</ion-label>
                </ion-item>
              </ion-col>
              <ion-col sizeLg="4" size="12">
                <div class="border-details">
                  <ion-textarea [autoGrow]="true" formControlName="procedimientoDiagnostico" label="Procedimiento"
                    labelPlacement="floating" fill="outline"></ion-textarea>
                  <ion-textarea [autoGrow]="true" formControlName="tecnicaDiagnostico" label="Técnica"
                    labelPlacement="floating" fill="outline"></ion-textarea>
                  <ion-textarea [autoGrow]="true" formControlName="instrumentoDiagnostico" label="Instrumento"
                    labelPlacement="floating" fill="outline"></ion-textarea>
                </div>
              </ion-col>
              <ion-col sizeLg="4" size="12">
                <ion-item class="border-details" lines="none">
                  <ion-select value="seleccione" multiple="true" label="Formas de participación Diagnóstica" interface="popover"
                    formControlName="formaParticipacionDiagnostica">
                    <ion-select-option value="seleccione">Seleccione una opcion</ion-select-option>
                    <ion-select-option *ngFor="let way of formasparticipacion" [value]="way">{{way}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col sizeLg="2" size="12">
                <ion-item class="border-details" lines="none">
                  <ion-label><span>Momento:</span> Inicio</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col sizeLg="2" size="12">
                <ion-item class="border-details" lines="none">
                  <ion-label>Formativa</ion-label>
                </ion-item>
              </ion-col>
              <ion-col sizeLg="4" size="12">
                <div class="border-details">
                  <ion-textarea [autoGrow]="true" formControlName="procedimientoFormativa" label="Procedimiento"
                    labelPlacement="floating" fill="outline"></ion-textarea>
                  <ion-textarea [autoGrow]="true" formControlName="tecnicaFormativa" label="Técnica"
                    labelPlacement="floating" fill="outline"></ion-textarea>
                  <ion-textarea [autoGrow]="true" formControlName="instrumentoFormativa" label="Instrumento"
                    labelPlacement="floating" fill="outline"></ion-textarea>
                </div>
              </ion-col>
              <ion-col sizeLg="4" size="12">
                <ion-item class="border-details" lines="none">
                  <ion-select value="seleccione" multiple="true" label="Formas de participación Formativa" interface="popover"
                    formControlName="formaParticipacionFormativa">
                    <ion-select-option value="seleccione">Seleccione una opcion</ion-select-option>
                    <ion-select-option *ngFor="let way of formasparticipacion" [value]="way">{{way}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col sizeLg="2" size="12">
                <ion-item class="border-details" lines="none">
                  <ion-label><span>Momento:</span> Desarrollo</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col sizeLg="2" size="12">
                <ion-item class="border-details" lines="none">
                  <ion-label>Sumativa</ion-label>
                </ion-item>
              </ion-col>
              <ion-col sizeLg="4" size="12">
                <div class="border-details">
                  <ion-textarea [autoGrow]="true" formControlName="procedimientoSumativa" label="Procedimiento"
                    labelPlacement="floating" fill="outline"></ion-textarea>
                  <ion-textarea [autoGrow]="true" formControlName="tecnicaSumativa" label="Técnica"
                    labelPlacement="floating" fill="outline"></ion-textarea>
                  <ion-textarea [autoGrow]="true" formControlName="instrumentoSumativa" label="Instrumento"
                    labelPlacement="floating" fill="outline"></ion-textarea>
                </div>
              </ion-col>
              <ion-col sizeLg="4" size="12">
                <ion-item class="border-details" lines="none">
                  <ion-select value="seleccione" multiple="true" label="Formas de participación Sumativa" interface="popover"
                    formControlName="formaParticipacionSumativa">
                    <ion-select-option value="seleccione">Seleccione una opcion</ion-select-option>
                    <ion-select-option *ngFor="let way of formasparticipacion" [value]="way">{{way}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col sizeLg="2" size="12">
                <ion-item class="border-details" lines="none">
                  <ion-label><span>Momento:</span> Cierre</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-card-content>
    </ion-card>
  </form>
</section>
