<ion-content [fullscreen] color="medium">
  <ion-grid style="margin-left: 0; " class="ion-no-padding">
    <ion-row style="height: 89vh;">
      <ion-col size="0.2" sizeLg="0.2" class="ion-hide-sm-down"></ion-col>
      <ion-col size="12" sizeLg="11.8" class="ion-padding-end">
        <ion-row>
          <ion-col size="12">
            <ion-card class="tile header"></ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-card class="tile items"></ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card class="tile items"></ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card class="tile items"></ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card class="tile items"></ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
