ion-input{
  margin: 12px 0px;
  padding: 0px 12px!important;
}

ion-input.form-input label.input-wrapper div.label-text-wrapper{
font-size: 30px;
}

.input-icon-container{
  display: flex;
  align-items:center;
  // justify-content: space-between;
}
