<ion-row class="ion-align-items-center ion-justify-content-around">
  <ion-col size="10">
    <h2 style="font-weight: bold; padding-left: 30px;">
      Estrategias Metodológicas, Didácticas y Pedagógicas
    </h2>
  </ion-col>
  <ion-col size="1">
    <ion-button size="default" type="submit" (click)="submit()" color="primary" expand="block" fill="solid">
      <ion-icon slot="end" name="close-outline"></ion-icon>
      Guardar
    </ion-button>
  </ion-col>
  <ion-col size="1">
    <ion-button size="default" color="dark" (click)="cancel()" expand="block" fill="clear">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
<section class="inner-content container">
  <form [formGroup]="estrategiasForm">
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="4" class="border-details">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <ion-text color="primary">
                    <h3>Estrategias de Enseñanza</h3>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-input class="form-input" type="text" label="Estrategias de Enseñanza" placeholder=""
                  labelPlacement="floating" fill="outline"
                  (keyup.enter)="tecniquesRows($event,'estrategiasEnsenanzas')"></ion-input>
                <p style="padding-left: 20px;" *ngFor="let obs of estrategiasEnsenanzas">* {{obs}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="4" class="border-details">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <ion-text color="primary">
                    <h3>Medios Instruccionales</h3>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-input class="form-input" type="text" label="Medios Instruccionales" placeholder=""
                  labelPlacement="floating" fill="outline"
                  (keyup.enter)="tecniquesRows($event,'mediosInstruccionales')"></ion-input>
                <p style="padding-left: 20px;" *ngFor="let product of mediosInstruccionales">* {{product}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="4" class="border-details">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <ion-text color="primary">
                    <h3>Técnicas Instruccionales</h3>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-input class="form-input" type="text" label="Técnicas Instruccionales" placeholder=""
                  labelPlacement="floating" fill="outline"
                  (keyup.enter)="tecniquesRows($event,'tecnicasInstruccionales')"></ion-input>
                <p style="padding-left: 20px;" *ngFor="let con of tecnicasInstruccionales">* {{con}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-text color="primary">
                <h3>Estrategias de aprendizaje</h3>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <ion-row class="ion-align-items-center">
                      <ion-col size="3">
                        <p>1{{')'}} Cognitivas.</p>
                      </ion-col>
                      <ion-col size="9">
                        <ion-textarea [autoGrow]="true" formControlName="cognitivas" label="Cognitivas"
                          labelPlacement="floating" fill="outline"></ion-textarea>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <ion-row class="ion-align-items-center">
                      <ion-col size="3">
                        <p>2{{')'}} Metacognitivas.</p>
                      </ion-col>
                      <ion-col size="9">
                        <ion-textarea [autoGrow]="true" formControlName="metaCognitivas" label="Metacognitivas"
                          labelPlacement="floating" fill="outline"></ion-textarea>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <ion-row class="ion-align-items-center">
                      <ion-col size="3">
                        <p>3{{')'}} Estrategia de regulación de recursos:</p>
                      </ion-col>
                      <ion-col size="9">
                        <ion-textarea [autoGrow]="true" formControlName="estrategiasRegulacionRecursos"
                          label="Estrategia de regulación de recursos" labelPlacement="floating"
                          fill="outline"></ion-textarea>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <ion-row class="ion-align-items-center">
                      <ion-col size="3">
                        <p>4{{')'}} Motivacionales.</p>
                      </ion-col>
                      <ion-col size="9">
                        <ion-textarea [autoGrow]="true" formControlName="motivacionales" label="Motivacionales"
                          labelPlacement="floating" fill="outline"></ion-textarea>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </form>
</section>
